<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">
            <span style="color: var(--color-purple);">&lt;</span>
            Simona Thrussell PhD
            <span style="color: var(--color-purple);">/&gt;</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('clients') }}">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('services') }}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('cv') }}">CV</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
